.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.gradient-line {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #edbf31, #e84684); /* Gradiente de ejemplo */
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group .form-control {
    border: 2px solid #0b9de6; /* Cambia #004aad por el color que desees */
    border-radius: 5px; /* Opcional: Ajusta el radio de las esquinas */
}

.input-group .input-group-text {
    border: 2px solid #0b9de6; /* Asegura que el borde de la caja que contiene el ícono coincida */
    border-left: 0; /* Elimina el borde entre el campo de entrada y el ícono */
    border-radius: 0 5px 5px 0; /* Asegura que los bordes sean consistentes */
}